<div class="home-content">
  <h1 class="cover-heading">Tic-Tac-Toe</h1>
  <p class="lead">Play Tic-Tac-Toe in real time against other players. See your records against everyone you've played.</p>
  <p class="lead">
    <%= link_to 'Play Now', new_user_path, class: "btn btn-lg btn-default" %>
  </p>
  <p class="foot-notice">
    Have an account? <%= link_to 'Log in', login_path %>
  </p>
</div>