<% content_for :title do -%>
  <%= 'Log in' %>
<% end -%>

<h1 class="cover-heading sr-only">Log in</h1>

<div class="new-session-content form-content">
  <%= render 'form' %>
  <p class="foot-notice">
    New user? <%= link_to 'Sign up', new_user_path %>
  </p>
</div>