<% content_for :title do -%>
  <%= 'Settings' %>
<% end -%>

<div class="row">
  <div class="col-sm-6">
    <%= gravatar_image_tag(@user, :profile) %>
  </div>
  <div class="col-sm-6">
    <h2 class="text-center"><%= 'Your account' %></h2>
    <%= render 'form' %>
  </div>
</div>