<% content_for :title do -%>
  User Lookup
<% end -%>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h2>User lookup</h2>
    <%= bootstrap_form_tag url: search_users_path, method: :get do |f| %>
      <%= f.search_field :query, id: 'user-query', label: "Username or email address",
                                               autofocus: true %>
      <%= f.form_group do %>
        <%= f.submit 'Submit' %>
      <% end %>
      <% if @user_not_found -%>
        <p class="text-danger">User not found</p>
      <% end -%>
    <% end %>
  </div>
</div>