<% content_for :title do -%>
  <%= 'Sign up' %>
<% end -%>

<h1 class="cover-heading sr-only">Create account</h1>

<div class="new-user-content form-content">
  <%= render 'form' %>
  
  <p class="foot-notice">
    Have an account? <%= link_to 'Log in', login_path %>
  </p>
</div>