<section id="play-again-request">
  <p>Your opponent has invited you to play again!</p>
  <p>
    <button id="confirm-play-again" class="decide-play-again btn btn-primary">
      Play again
    </button>
    <button id="reject-play-again" class="decide-play-again btn btn-default">
      Decline
    </button>
  </p>
</section>