// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.games-page, .game-page {
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  .indicator {
    color: #900020; // burgundy
  }
}

.game {
  $border-color: darkgreen;
  
  margin: 20px auto;
  border-collapse: collapse;
  td {
    width: 100px;
    height: 100px;
    text-align: center;
    color: blue;
    text-shadow: 1px 1px 0 rgba(0,0,0,.2);
    font-size: 75px;
    line-height: 1;
    cursor: default;
    user-select: none;
  }
  td:not(:last-child) {
    border-right: 2px solid $border-color;
  }
  tr:not(:last-child) {
    border-bottom: 2px solid $border-color;
  }
  &.playable {
    .empty {
      cursor: pointer;
    }
  }
}

.game-col {
  text-align: center;
}

.game-preview .game {
  float: left;
  margin-right: 20px;
  @media (min-width: $screen-sm-min) {
    float: none;
    margin-left: auto;
    margin-right: 0;
  }
  td {
    width: 20px;
    height: 20px;
    font-size: 15px;
  }
  &.playable {
    .empty {
      cursor: default;
    }
  }
}

.waiting-game:not(:last-child), .completed-game:not(:last-child) {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
