// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-query {
  max-width: 360px;
}

.change-profile-picture {
  margin-top: 10px;
  text-align: center;
}