<table class="table">
  <tr>
    <td>Wins</td>
    <td><%= record_list[:wins] %></td>
  </tr>
  <tr>
    <td>Losses</td>
    <td><%= record_list[:losses] %></td>
  </tr>
  <tr>
    <td>Draws</td>
    <td><%= record_list[:draws] %></td>
  </tr>
  <tr>
    <td>Total</td>
    <td><%= record_list[:wins] + record_list[:losses] + record_list[:draws] %></td>
  </tr>
</table>