<table class="table record-list">
  <tr>
    <th>Wins</td>
    <td><%= record_list[:wins] %></td>
  </tr>
  <tr>
    <th>Losses</td>
    <td><%= record_list[:losses] %></td>
  </tr>
  <tr>
    <th>Draws</td>
    <td><%= record_list[:draws] %></td>
  </tr>
  <tr>
    <th>Total</td>
    <td><%= record_list[:wins] + record_list[:losses] + record_list[:draws] %></td>
  </tr>
</table>